# Домашнее задание 2 (5 баллов).

Все задания ниже имеют равный вес (5/16).

In [2]:
import pandas as pd

#### Описание данных

В папке Data находится информация о студентах. Всего 10 групп студентов. Файлы делятся на две категории:
    * Students_info_i - информация о студентах из группы i
    * Students_marks_i - оценки студентов из группы i за экзамены

### Одно из важных достоинств pandas $-$ это удобные методы реляционного взаимодействия с данными, аналогичные, например, возможностям SQL для слияния и конкатенации таблиц: merge, join, concat. Наличие готовых методов позволяет не реализовывать самостоятельно поэлементную обработку данных и оперировать сразу целыми таблицами данных.

Подробно об этих методах посмотрите тут: https://www.kaggle.com/residentmario/renaming-and-combining#Combining

#### Задание 1. Соберите всю информацию о студентах в одну таблицу df. В получившейся таблице должна быть информация и оценки всех студентов из всех групп. Напечатайте несколько строк таблицы для демонстрации результата.¶

In [35]:
df_st = pd.read_csv('Students_info_0.csv', sep=',', index_col=0)
df_m = pd.read_csv('Students_marks_0.csv', sep=',', index_col=0)
for i in range(1, 10):
    name_st = 'Students_info_' + str(i) + '.csv'
    name_m = 'Students_marks_' + str(i) + '.csv'
    df_st_new = pd.read_csv(name_st, sep=',', index_col=0)
    df_st = pd.concat([df_st, df_st_new])
    df_m_new = pd.read_csv(name_m, sep=',', index_col=0)
    df_m = pd.concat([df_m, df_m_new])
df = pd.concat([df_st, df_m], axis=1)
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,group,math score,reading score,writing score
index,,,,,,,,,
0,female,group B,bachelor's degree,standard,none,group1,72,72,74
1,female,group C,some college,standard,completed,group1,69,90,88
2,female,group B,master's degree,standard,none,group1,90,95,93
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44
4,male,group C,some college,standard,none,group1,76,78,75

#### Задание 2. Удалите столбец index у полученной таблицы. Напечатайте первые 10 строк таблицы.

In [36]:
df = df.reset_index(drop=True)
print(df.head(10))

   gender race/ethnicity parental level of education         lunch  \
0  female        group B           bachelor's degree      standard
1  female        group C                some college      standard
2  female        group B             master's degree      standard
3    male        group A          associate's degree  free/reduced
4    male        group C                some college      standard
5  female        group B          associate's degree      standard
6  female        group B                some college      standard
7    male        group B                some college  free/reduced
8    male        group D                 high school  free/reduced
9  female        group B                 high school  free/reduced

  test preparation course   group  math score  reading score  writing score
0                    none  group1          72             72             74
1               completed  group1          69             90             88
2                    none  group1          90             95             93
3                    none  group1          47             57             44
4                    none  group1          76             78             75
5                    none  group1          71             83             78
6               completed  group1          88             95             92
7                    none  group1          40             43             39
8               completed  group1          64             64             67
9                    none  group1          38             60             50

#### Задание 3. Выведите на экран размеры полученной таблицы

In [37]:
print(df.shape)

(1000, 9)

#### Задание 4. Выведите на экран статистические характеристики числовых столбцов таблицы (минимум, максимум, среднее значение, стандартное отклонение)

In [38]:
df.describe().loc[['min', 'max', 'mean', 'std']]

      math score  reading score  writing score
min      0.00000      17.000000      10.000000
max    100.00000     100.000000     100.000000
mean    66.08900      69.169000      68.054000
std     15.16308      14.600192      15.195657

#### Задание 5. Проверьте, есть ли в таблице пропущенные значения

In [39]:
if df.isnull().sum().sum() > 0:
    print('В таблице есть пропущенные значения')
else:
    print('В таблице нет пропущенных значений')

В таблице нет пропущенных значений

#### Задание 6. Выведите на экран средние баллы студентов по каждому предмету (math, reading, writing)

In [40]:
df[['math score', 'reading score', 'writing score']].mean()

math score       66.089
reading score    69.169
writing score    68.054
dtype: float64

**Задание 7. Как зависят оценки от того, проходил ли студент курс для подготовки к сдаче экзамена (test preparation course)? Выведите на экран для каждого предмета в отдельности средний балл студентов, проходивших курс для подготовки к экзамену и не проходивших курс.**

In [41]:
math_mean = df.groupby('test preparation course')["math score"].mean()
read_mean = df.groupby('test preparation course')["reading score"].mean()
writ_mean = df.groupby('test preparation course')["writing score"].mean()
print(math_mean, read_mean, writ_mean)

test preparation course
completed    69.695531
none         64.077882
Name: math score, dtype: float64 test preparation course
completed    73.893855
none         66.534268
Name: reading score, dtype: float64 test preparation course
completed    74.418994
none         64.504673
Name: writing score, dtype: float64

**Задание 8. Выведите на экран все различные значения из столбца lunch.**

In [42]:
df.lunch.unique()

array(['standard', 'free/reduced'], dtype=object)

**Задание 9. Переименуйте колонку "parental level of education" в "education", а "test preparation course" в "test preparation" с помощью метода pandas rename**
https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.rename.html

In [43]:
df = df.rename(columns={"parental level of education": "education", "test preparation course": "test preparation"})

**Зафиксируем минимальный балл для сдачи экзамена**

In [44]:
passmark = 50

**Задание 10. Ответьте на вопросы:**
    * Какая доля студентов сдала экзамен по математике (passmark >= 50)?
    * Какая доля студентов, проходивших курс подготовки к экзамену, сдала экзамен по математике?
    * Какая доля женщин, не проходивших курс подготовки к экзамену, не сдала экзамен по математике?

In [45]:
passed_math = (df.loc[(df["math score"] >= passmark)]['math score'].count())/(df['math score'].count())
prepared_math = (df.loc[(df["math score"] >= passmark) & (df['test preparation'] == 'completed')]['math score'].count())/(df.loc[(df['test preparation'] == 'completed')]['math score'].count())
not_prep_w = (df.loc[(df["math score"] < passmark) & (df['test preparation'] == 'none') & (df['gender'] == 'female')]['math score'].count())/(df.loc[(df['test preparation'] == 'none') & (df['gender'] == 'female')]['math score'].count())
print(passed_math, prepared_math, not_prep_w)

0.865 0.9217877094972067 0.20958083832335328

**Задание 11. С помощью groupby выполните задания ниже. Также выведите время выполнения каждого из заданий.**
    * Для каждой этнической группы выведите средний балл за экзамен по чтению
    * Для каждого уровня образования выведите минимальный балл за экзамен по письму

In [46]:
%%time
read_mean = df.groupby('race/ethnicity')['reading score'].mean()
writ_min = df.groupby('education')['writing score'].min()
print(read_mean, '\n', writ_min)

race/ethnicity
group A    64.674157
group B    67.352632
group C    69.103448
group D    70.030534
group E    73.028571
Name: reading score, dtype: float64
 education
associate's degree    35
bachelor's degree     38
high school           15
master's degree       46
some college          19
some high school      10
Name: writing score, dtype: int64
CPU times: user 15.6 ms, sys: 0 ns, total: 15.6 ms
Wall time: 12 ms

**Задание 12. Выполните задание 11 с помощью циклов. Сравните время выполнения.**

In [47]:
%%time
shtuka = df['race/ethnicity'].unique()
sl_1 = {key: 0 for key in shtuka}
sl_2 = {key: 0 for key in shtuka}
level = df['education'].unique()
sl_min = {key: [100] for key in level}
for index, row in df.iterrows():
    sl_1[row['race/ethnicity']] += row['reading score']
    sl_2[row['race/ethnicity']] += 1
for key in sl_1:
    sl_1[key] = sl_1[key]/sl_2[key]
    print(key, sl_1[key])
print('\n')
for index, row in df.iterrows():
    sl_min[row['education']].append(row['writing score'])
for key in sl_min:
    print(key, min(sl_min[key]))

group B 67.35263157894737
group C 69.10344827586206
group A 64.67415730337079
group D 70.03053435114504
group E 73.02857142857142


bachelor's degree 38
some college 19
master's degree 46
associate's degree 35
high school 15
some high school 10
CPU times: user 203 ms, sys: 0 ns, total: 203 ms
Wall time: 209 ms

**Задание 13. Выведите на экран средние баллы студентов по каждому предмету в зависимости от пола и уровня образования. То есть должно получиться количество групп, равных 2 * (число уровней образования), и для каждой такой группы выыведите средний балл по каждому из предметов.**

Это можно сделать с помощью сводных таблиц (pivot_table):

https://www.kaggle.com/kamilpolak/tutorial-how-to-use-pivot-table-in-pandas

In [48]:
pd.pivot_table(df,index=['gender','education'])

/tmp/ipykernel_69/940922539.py:1: FutureWarning: The default value of numeric_only in DataFrameGroupBy.mean is deprecated. In a future version, numeric_only will default to False. Either specify numeric_only or select only columns which should be valid for the function.
  pd.pivot_table(df,index=['gender','education'])

                           math score  reading score  writing score
gender education
female associate's degree   65.250000      74.120690      74.000000
       bachelor's degree    68.349206      77.285714      78.380952
       high school          59.351064      68.202128      66.691489
       master's degree      66.500000      76.805556      77.638889
       some college         65.406780      73.550847      74.050847
       some high school     59.296703      69.109890      68.285714
male   associate's degree   70.764151      67.433962      65.405660
       bachelor's degree    70.581818      68.090909      67.654545
       high school          64.705882      61.480392      58.539216
       master's degree      74.826087      73.130435      72.608696
       some college         69.009259      64.990741      63.148148
       some high school     67.840909      64.693182      61.375000

#### Задание 14. Сколько студентов успешно сдали экзамен по математике?

Создайте новый столбец в таблице df под названием Math_PassStatus и запишите в него F, если студент не сдал экзамен по математике (балл за экзамен < passmark), и P иначе.

Посчитайте количество студентов, сдавших и не сдавших экзамен по математике.

Сделайте аналогичные шаги для экзаменов по чтению и письму.

In [49]:
def func(score):
    if score >= passmark:
        return 'P'
    else:
        return 'F'
df['Math_PassStatus'] = df["math score"].apply(func)
print('Math. Passed: ', df.loc[(df['Math_PassStatus'] == 'P')]['Math_PassStatus'].count(), 'Failed: ', df.loc[(df['Math_PassStatus'] == 'F')]['Math_PassStatus'].count())
df['Reading_PassStatus'] = df["reading score"].apply(func)
print('Reading. Passed: ', df.loc[(df['Reading_PassStatus'] == 'P')]['Reading_PassStatus'].count(), 'Failed: ', df.loc[(df['Reading_PassStatus'] == 'F')]['Reading_PassStatus'].count())
df['Writing_PassStatus'] = df["writing score"].apply(func)
print('Writing. Passed: ', df.loc[(df['Writing_PassStatus'] == 'P')]['Writing_PassStatus'].count(), 'Failed: ', df.loc[(df['Writing_PassStatus'] == 'F')]['Writing_PassStatus'].count())
df.head()

Math. Passed:  865 Failed:  135
Reading. Passed:  910 Failed:  90
Writing. Passed:  886 Failed:  114

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P

#### Задание 15. Сколько студентов успешно сдали все экзамены?

Создайте столбец OverAll_PassStatus и запишите в него для каждого студента 'F', если студент не сдал хотя бы один из трех экзаменов, а иначе 'P'.

Посчитайте количество студентов, которые сдали все экзамены.

In [50]:
def ov_p(m1, m2, m3):
    if (m1 == 'P') and (m2 == 'P') and (m3 == 'P'):
        return 'P'
    else:
        return 'F'
df['OverAll_PassStatus'] = df.apply(lambda x: ov_p(x.Math_PassStatus, x.Reading_PassStatus, x.Writing_PassStatus), axis=1)
print('количество студентов, которые сдали все экзамены: ', df.loc[(df['OverAll_PassStatus'] == 'P')]['OverAll_PassStatus'].count())
df.head()

количество студентов, которые сдали все экзамены:  812

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P

#### Задание 16. Переведем баллы в оценки

### Система перевода баллов в оценки
####    больше 90 = A
####      80-90 = B
####      70-80 = C
####      60-70 = D
####      50-60 = E
####    меньше 50 = F (Fail)

Создайте вспомогательную функцию, которая будет по среднему баллу за три экзамена выставлять оценку студенту по данным выше критериям.

Создайте столбец Grade и запишите в него оценку каждого студента.

Выведите количество студентов, получивших каждую из оценок.

**В случае, если средний балл попадает на границу между оценками (т.е. равен ровно 60, 70 или 80 баллов), вы можете интерпретировать условие на своё усмотрение (т.е. можете поставить за 60 баллов оценку D, а можете - E).**

In [51]:
def GetGrade(average_mark):
    if average_mark >= 90:
        return 'A'
    elif average_mark >= 80:
        return 'B'
    elif average_mark >= 70:
        return 'C'
    elif average_mark >= 60:
        return 'D'
    elif average_mark >= 50:
        return 'E' 
    else:
        return 'F'

df['Grade_avg'] = df[['math score', 'reading score', 'writing score']].mean(axis=1)
df['Grade'] = df['Grade_avg'].apply(GetGrade)
df.pop('Grade_avg')
print(df.groupby(['Grade'])['Grade'].count())
df.head()

Grade
A     52
B    146
C    261
D    256
E    182
F    103
Name: Grade, dtype: int64

,gender,race/ethnicity,education,lunch,test preparation,group,math score,reading score,writing score,Math_PassStatus,Reading_PassStatus,Writing_PassStatus,OverAll_PassStatus,Grade
0,female,group B,bachelor's degree,standard,none,group1,72,72,74,P,P,P,P,C
1,female,group C,some college,standard,completed,group1,69,90,88,P,P,P,P,B
2,female,group B,master's degree,standard,none,group1,90,95,93,P,P,P,P,A
3,male,group A,associate's degree,free/reduced,none,group1,47,57,44,F,P,F,F,F
4,male,group C,some college,standard,none,group1,76,78,75,P,P,P,P,C